

.itemsContainer li a {
  font-weight: 800;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.quantityContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: start;
}

.quantityContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  width: 30px;
  height: 30px;
}

.quantityContainer input {
  height: 20px;
  width: 35px;
  color: white;
}

.priceOrderEl {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.orderBtn {
  width: 200px;
  border-radius: 0;
}

input[type="number"]:hover::-webkit-inner-spin-button {
  width: 19px;
  height: 30px;
}


.titleContainer {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: start;
}


.shopCartContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


