:root {
  --dominate-color: white;
}


body {
  margin: 0;
}


.rootLayout {
  display: grid;
  /* grid-template-columns: 10; */
  grid-template-rows: 80px 100vh;
}

header {
  grid-area: 1 / 1 / 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0;
  background-color: rgb(146, 144, 144);
  padding-inline: 25px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9000;
  color: white;
  height: 80px;
}

.navContainer {
  padding-right: 70px;
}

main {
  grid-area: 2 / 1 / 5 / 2;
  
}

.hero-section {
  color: white;
  
  align-items: flex-end;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  /* opacity: 0.5; */
  height: 100vh;
}

.hero-section img {
  filter: brightness(.66);
  height: 720px;
  object-fit: cover;
  width: 100%;
  height: inherit;
}

.overlayContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 8rem;
  padding-left: 12px;
  padding-right: 10%;
  position: absolute;
  animation: textSlide 1.65s ease;
}

.overlayText {
  color: var(--dominate-color);
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  letter-spacing: 0.5px;
  font-size: 2.5rem;
}

.homeShopNowBtn {
      background-color: rgb(13, 141, 226);
    border-radius: 4px;
    padding: 15px 52px;
    transition: .2s ease;
    color: var(--dominate-color);
    font-family: Montserrat-Bold, sans-serif;
    font-weight: 700;
    border: 0;
    
  }
  
  .homeShopNowBtn a {
    color: white;
    text-decoration: none;

}

@keyframes textSlide {
  0% {
    opacity: 0;
    translate: 0 -200px;
  }
  to {
    opacity: 1;
    translate: 0 10;
  }
}

.featuredProduct {
height: 320px;
}


.homeHeadText {
  padding: 50px;
}




.ourOfferContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 20px 0 0 0;
  
  
}

.ourOfferSubContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 100px;
}

.offerEl {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(240, 103, 61);
  margin: 50px 0 0 0;
}

.free-fastContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 300px;
}

.customerServiceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 300px;
}


.ourOfferContainer img {
  width: 150px;
  height: 150px;
}


.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.shopCartContainer {
  display: flex;
  align-items: center;
}

svg {
  width: 20px;
}

.product img {
  width: 120px;
  max-height: 200px;
  object-fit: cover;
  object-fit: contain;
  object-position: 50;
  border-radius: 9px;
}

/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
